.home {
  background-color: red;
  display: flex;
  width: 50vw;
  justify-content: center;
  height: 5vh;
  p {
    background-color: grey;
    margin: auto;
    font-size: 1.25rem;
  }
}
.data-content{
    width: 72vw;
    margin: 0px 10px;
    height: 45vh;
    background-color: green;
}
