$screen-mb: 425px;
$screen-tl: 1024px;
$screen-nm: 1440;

@mixin mobile {
    @media only screen and (max-width:$screen-mb) {
      @content;
    }
  }
  @mixin tablet {
    @media only screen and (min-width:$screen-mb + 1) and (max-width:$screen-tl) {
      @content;
    }
  }