$screen-mb: 425px;
$screen-mbx: $screen-mb + 1px;
$screen-tl: 768px;
$screen-nm: 1280;

@mixin mobile {
    @media only screen and (max-width:$screen-mb) {
      @content;
    }
  }
  @mixin tablet {
    @media only screen and (min-width:$screen-mbx) and (max-width:$screen-tl) {
      @content;
    }
  }